//npm.pkg.github.com/:_authToken={{TOKEN}}

@jcubic:registry=https://npm.pkg.github.com/

init.author.name=Jakub T. Jankiewicz
init.author.email=jcubic@onet.pl
init.author.url=https://jcubic.pl/jakub-jankiewicz/