<!DOCTYPE html>
<html lang="en" style="background-color: #111;">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="Build Your Own Botnet" />
	<meta name="author" content="" />

	<link rel="icon" href="assets/images/byob_favicon_round-15.png">

	<title>Register</title>

	<link rel="stylesheet" href="assets/js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css">
	<link rel="stylesheet" href="assets/css/font-icons/entypo/css/entypo.css">
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic">
	<link rel="stylesheet" href="assets/css/bootstrap.css">
	<link rel="stylesheet" href="assets/css/neon-core.css">
	<link rel="stylesheet" href="assets/css/neon-theme.css">
	<link rel="stylesheet" href="assets/css/neon-forms.css">
	<link rel="stylesheet" href="assets/css/custom.css">

	<script src="assets/js/jquery-1.11.3.min.js"></script>

	<!--[if lt IE 9]><script src="assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
	
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->


</head>

<div class="demo-1 parallax-login" style="z-index: 0">
	<div class="content">
		<div id="large-header" class="large-header">
			<canvas id="demo-canvas"></canvas>
			<h1></h1>
		</div>
	</div>
</div>

<body class="page-body login-page login-form-fall boxed-layout" data-url="http://neon.dev" style="background-color: #111;">

	<!-- This is needed when you send requests via Ajax -->
	<script type="text/javascript">
	var baseurl = '';
	</script>
		
	<div class="login-container" style="z-index: 1; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); padding-top: 10%">
		
		<div class="login-header login-caret" style="max-height: 200px; background-color: transparent;">
			
			<div class="login-content">
				
				<a href="{{ url_for('main.home') }}" class="logo">
					<img src="assets/images/byob_logo-12.png" width="120" alt="" />
				</a>
				
				<p class="description">Create an account.</p>
				
				<!-- progress bar indicator -->
				<div class="login-progressbar-indicator">
					<h3>43%</h3>
					<span>logging in...</span>
				</div>
			</div>

			<!-- Display flashed messages -->
	        <div class="row">
	            <div class="col-md-6 col-md-offset-3" style="text-align: center;">
	                {% with messages = get_flashed_messages(with_categories=true) %}
	                    {% if messages %}
	                        {% for category, message in messages %}
	                            <div class="alert alert-{{ category }}">
	                                {{ message }}
	                            </div>
	                        {% endfor %}
	                    {% endif %}
	                {% endwith %}

	            </div>
	       </div>			
		</div>
		
		<div class="login-progressbar">
			<div></div>
		</div>
		
		<div class="login-form">
			
			<div class="login-content">
				
				<form method="post" action="">
					{{ form.hidden_tag() }}
					
					<div class="form-register-success">
						<i class="entypo-check"></i>
						<h3>You have successfully registered!</h3>
					</div>
			
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-addon">
								<i class="entypo-user"></i>
							</div>
							
		                    {% if form.username.errors %}
		                        {{ form.username(class="form-control is-invalid") }}
		                        <div class="text-danger">
		                            {% for error in form.username.errors %}
		                                <span>{{ error }}</span>
		                            {% endfor %}
		                        </div>

		                    {% else %}
		                        {{ form.username(class="form-control", placeholder="Username") }}
		                    {% endif %}
						</div>
					</div>
					
					<div class="form-group">
						<div class="input-group">
							<div class="input-group-addon">
								<i class="entypo-key"></i>
							</div>
							
		                    {% if form.password.errors %}
		                        {{ form.password(class="form-control has-error") }}
		                        <div class="text-danger">
		                            {% for error in form.password.errors %}
		                                <span>{{ error }}</span>
		                            {% endfor %}
		                        </div>

		                    {% else %}
		                        {{ form.password(class="form-control", placeholder="Password") }}
		                    {% endif %}
						</div>
					</div>


					<div class="form-group">
						<div class="input-group">
							<div class="input-group-addon">
									<i class="entypo-key"></i>
								</div>
								
		                    {% if form.confirm_password.errors %}
		                        {{ form.confirm_password(class="form-control has-error") }}
		                        <div class="text-danger">
		                            {% for error in form.confirm_password.errors %}
		                                <span>{{ error }}</span>
		                            {% endfor %}
		                        </div>

		                    {% else %}
		                        {{ form.confirm_password(class="form-control", placeholder="Confirm password") }}
		                    {% endif %}
		                </div>
		            </div>
							
	            <div class="form-group">
	                {{ form.submit(class="btn btn-info btn-block btn-login", style="text-align: center") }}
		        </div>
					
				<!-- Implemented in v1.1.4 -->
<!-- 				<div class="form-group">
					<em>- or -</em>
				</div>
				
				<div class="form-group">
				
					<button type="button" class="btn btn-default btn-lg btn-block btn-icon icon-left google-button" onclick="location.href='/login/google';">
						Sign Up with Google
						<i class="entypo-gplus"></i>
					</button>
					
				</div> -->
				
			</form>
				
				
			<div class="login-bottom-links">
				
				<a href="{{ url_for('users.login') }}" class="link">
					<i class="entypo-lock"></i>
					Return to Login Page
				</a>
				
				<br />
				
			</div>
				
			</div>
			
		</div>

			<!-- Footer -->
			<footer id="footer-layout" class="main" align="center" style="color: white;">
				
				&copy; 2020 <a href="https://malwared.com">Malwared</a>
			
			</footer>
		
	</div>


	<!-- Bottom scripts (common) -->
	<script src="assets/js/gsap/TweenMax.min.js"></script>
	<script src="assets/js/jquery-ui/js/jquery-ui-1.10.3.minimal.min.js"></script>
	<script src="assets/js/bootstrap.js"></script>
	<script src="assets/js/joinable.js"></script>
	<script src="assets/js/resizeable.js"></script>
	<script src="assets/js/neon-api.js"></script>
	<script src="assets/js/jquery.validate.min.js"></script>
	<script src="assets/js/neon-register.js"></script>
	<script src="assets/js/jquery.inputmask.bundle.js"></script>


	<!-- JavaScripts initializations and stuff -->
	<script src="assets/js/neon-custom.js"></script>
	<script src="assets/js/custom/canvas-login.js"></script>

	<!-- Demo Settings -->
	<script src="assets/js/neon-demo.js"></script>
</body>
</html>