* text eol=lf
.* text eol=lf
js/jquery.terminal-[0-9.]* binary
js/jquery.terminal.min.js binary
js/jquery.terminal.js binary
css/jquery.terminal-[0-9.]* binary
css/jquery.terminal.min.css binary
css/jquery.terminal.css binary
css/*map binary
js/*map binary
__tests__/*.ans binary